<% content_for :head do %>

  <script type="text/javascript">
  	// FIX THIS !!!!!!!//
    papers = <%= raw [@papers_in_review,@submitted_papers,@accepted_papers].flatten.to_json %>;
  </script>
<%end%>

<div id="main">
  <div class="left-tabs">
    <div class="tab submitted active" data-ptype ='submitted'><h3>Submitted Papers</h3></div>
    <div class="tab in_review" data-ptype ='in_review'><h3>Papers in review</h3></div>
    <div class="tab accepted"  data-ptype ='accepted'> <h3>Accepted Papers</h3></div>
    <div class="tab reviewers"  data-ptype ='reviewers'> <h3>Reviewers</h3></div>

  </div>



  <div class="central-certified dashboard tabbed active submitted">
  	<h3> Submitted papers </h3>
    <%= render :partial => "shared/paper_thumbnails", :locals => {:papers =>@submitted_papers} %>
  </div>

  <div class="central-certified dashboard tabbed in_review">
  	<h3>Papers in review</h3>
  	<%= render :partial => "shared/paper_thumbnails", :locals => {:papers =>@papers_in_review} %>
  </div>

  <div class="central-certified dashboard tabbed accepted">
   	<h3>Accepted papers</h3>
  	<%= render :partial => "shared/paper_thumbnails", :locals => {:papers =>@accepted_papers} %>
  </div>


   <div class="central-certified dashboard tabbed reviewers">
   	<h3>Reviewers</h3>
    <ul>
    <% @reviewers.each do |reviewer| -%>
      <li>
      	<p> <%=reviewer.full_name%> is currently reviewing  <%=@papers_in_review.select{|paper| paper.reviewer_id == reviewer.id}.count%> papers
 				</p>
      	<%= render :partial => "shared/paper_thumbnails", :locals => {:papers =>@papers_in_review.select{|paper| paper.reviewer_id == reviewer.id}} %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="right-certified">
    <%= image_tag "fold.png", :class => "fold" %>
    <h3 class="about dashboard">About this paper</h3>

    <div class="paper">
      <p>Select a paper on the left to view more details.</p>
    </div>
  </div>
  <div class="clear"></div>
</div>