<% content_for :head do %>
  <script type="text/javascript">

    $(document).ready( function(){
      PDFJS.disableWorker = true;

      var pdfDoc = null,
          pageNum = 1,
          scale = 0.35,
          canvas = document.getElementById('mypdfdoc'),
          ctx = canvas.getContext('2d');

      //
      // Get page info from document, resize canvas accordingly, and render page
      //
      function renderPage(num) {
        // Using promise to fetch the page
        pdfDoc.getPage(num).then(function(page) {
          var viewport = page.getViewport(scale);
          canvas.height = viewport.height;
          canvas.width = viewport.width;

          // Render PDF page into canvas context
          var renderContext = {
            canvasContext: ctx,
            viewport: viewport
          };
          page.render(renderContext);
        });

        // Update page counters
        document.getElementById('page_num').textContent = pageNum;
        document.getElementById('page_count').textContent = pdfDoc.numPages;
      }

      //
      // Go to previous page
      //
      function goPrevious() {
        if (pageNum <= 1)
          return;
        pageNum--;
        renderPage(pageNum);
      }

      //
      // Go to next page
      //
      function goNext() {
        if (pageNum >= pdfDoc.numPages)
          return;
        pageNum++;
        renderPage(pageNum);
      }

      $(".prev").click(function(){ 
        goPrevious()
      });

      $(".next").click(function(){ 
        goNext()
      });
      //
      // Asynchronously download PDF as an ArrayBuffer
      //
      PDFJS.getDocument("/proxy/<%=@paper.arxiv_no%>").then(function getPdfHelloWorld(_pdfDoc) {
        pdfDoc = _pdfDoc;
        renderPage(pageNum);
      });

    });
  </script>
<%end%>

<div id="main-bar">
</div>


<div id="main">
  <div class="left-tabs">
    <div class="tab submit active"><h3>Submit a paper</h3></div>
    <div class="tab view"><h3>View papers</h3></div>
    <div class="tab edit"><h3>Edit papers</h3></div>
  </div>  
  <div class="central-certified wide">

    <div class="paper">
      <div class="paper_preview">
          <a style='cursor:pointer' class='prev'>prev</a>
          <a style='cursor:pointer' class='next'>next</a>
          <canvas id="mypdfdoc"></canvas>
      </div>
      <div class="paper_details">
        <h3 class="about">You've just uploaded</h3>
        <p class="kind">Title</p>
        <p class="value"><%= @paper.title %></p>

        <p class="kind">Authors</p>
        <p class="value"><%= @paper.authors.first %> <em>et al.</em></p>

        <p class="kind">Year</p>
        <p class="value"><%= @paper.submitted_at.strftime("%Y") %></p>

        <p class="kind">Submission Date</p>
        <p class="value"><%= @paper.submitted_at.strftime("%d %B %Y") %></p>
        
        <h3><%= check_box_tag('author') %> I am a submitting author</h3>
        
        <%= submit_tag("Submit Paper", :class => "green-button") %>
      </div>
    </div>
  </div>
  
  <div class="right-certified">
    <%= render :partial => "signin_signup" %>
  </div>
  <div class="clear"></div>
</div>