<!DOCTYPE html>
<html>
<head>
  <title>The Open Journal for Astrophysics</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["$","$"],["\\(","\\)"]]
    }
  });
  </script>

  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function(){
      window.user = <%= raw current_user.to_json %>
    });
  </script>

  <%= yield :head %>
</head>
<body>
  <div id="center">
    <%= link_to((image_tag "oja_logo.jpg"), root_url) %>
    <%unless  params["action"] == 'review' %> 
      <div id="main-bar">
        <% if current_user %>
        <div class="user-block">
          <span class='username'><%= current_user.full_name.titleize %>
          <span class="role">(<%=(current_user.greatest_role.capitalize)%>)</span>
          <span class="signout"><%= link_to "Sign out &raquo;".html_safe, destroy_user_session_path, :method => :delete %></span>
        </div> 
        <% end %> 
      </div>
    <%end%>
    <%= yield %>
  </div>
</body>
</html>