<!DOCTYPE html>
<html>
<head>
  <title>The Open Journal for Astrophysics</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>


  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["$","$"],["\\(","\\)"]]
    }
  });
  </script>

  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <%= csrf_meta_tags %>
  

  <%= yield :head %>
</head>
<body>
  <div id="center">
    <%= link_to((image_tag "oja_logo.jpg"), root_url) %>
    <div id="main-bar">
      <% if current_user %> 
      <%= link_to "Sign out &raquo;".html_safe, destroy_user_session_path, :method => :delete, :class => "signout" %>
      <% end %> 
    </div>
    <%= yield %>
  </div>
</body>
</html>